{% extends base %}

{% block title %}Experiencia 1: Control de Procesos{% endblock %}

{% block preamble %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #0f244a;
    background: #dfeaf5;
  }
</style>
{% endblock %}

{% block contents %}
  <div class="content">
    <h1>Experiencia 1: Control de Procesos</h1>
    <hr>
  </div>
  {{ super() }}
{% endblock %}
